@import '../mixin/media';

footer {
  background: linear-gradient(135deg, var(--primary-start-color) 0%, var(--primary-end-color) 100%);

  .container {
    flex-direction: column;

    span,
    p,
    a {
      color: var(--primary-text-color);
    }

    .contact-section {
      width: 100%;

      padding: 50px 0 50px 0;

      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      column-gap: 50px;

      border-bottom: 1px solid var(--primary-component-background-color);

      span {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        display: block;
        margin-bottom: 20px;
      }

      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
      }

      .join-malling {
        form {
          margin-top: 20px;

          display: flex;

          input {
            background: var(--primary-component-background-color);
            border-radius: 22px;

            color: white;

            height: 44px;

            flex: auto;
          }

          button {
            margin-left: 10px;

            background: var(--primary-background-color);
            border-radius: 22px;

            height: 44px;
          }
        }
      }

      .join-community {
        .community-links {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .community-link {
            background: var(--primary-component-background-color);
            border-radius: 10px;

            width: 45px;
            height: 45px;

            padding: 4px;

            margin-right: 15px;
          }
        }
      }
    }

    .item-section {
      width: 100%;

      padding: 50px 0 50px 0;

      border-bottom: 1px solid var(--primary-component-background-color);

      img {
        width: 200px;
        height: 25px;

        margin-bottom: 30px;
      }

      .item-links {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));

        column-gap: 20px;

        .about-us {
          grid-column-start: 1;
          grid-column-end: 3;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          p {
            font-style: italic;
            font-weight: 200;
            font-size: 18px;
            line-height: 28px;
          }
        }

        .site-links {
          span {
            font-weight: 700;
            font-size: 13px;
            line-height: 25px;

            display: block;
            margin-bottom: 10px;
          }

          a {
            font-weight: 700;
            font-size: 13px;
            line-height: 25px;
          }
        }
      }
    }

    .copyright-section {
      padding: 20px 0;

      color: var(--primary-text-color);

      display: flex;
      justify-content: space-between;
      align-items: center;

      .copyright-links {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          &:last-of-type {
            margin-left: 20px;
          }
        }
      }
    }
  }

  @include media-md {
    .container {
      .contact-section {
        padding: 40px 0 30px 0;

        grid-template-columns: repeat(1, minmax(0, 1fr));

        row-gap: 30px;
      }

      .item-section {
        padding: 30px 0 30px 0;

        .item-links {
          grid-template-columns: repeat(2, minmax(0, 1fr));

          row-gap: 20px;
        }
      }

      .copyright-section {
        flex-direction: column;
      }
    }
  }
}
