.veri-part {
  display: flex;
  h3 {
    font-size: 18px !important;
  }
}
.blue-btn {
  text-transform: none !important;
  min-width: 100px !important;
  background-color: #333 !important;
}

.input-part {
  flex: 7 8;
}

.edit-container {
  display: flex;
}

.profile-image {
  img {
    border: 4px solid #555;
  }
}
.sticky-container {
  flex: 3 2;
  position: relative;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

.whole-container {
  display: flex;
}

.is-sticky {
  position: fixed;
  top: 10px;
  z-index: 999;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
