@import '../mixin/media';

.edit-collection-card {
  .m-card-inner{
    display: flex;
    
    gap: 30px;

    section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span, label {
        color: white;
      }
    }

    @include media-md {
      display: block;
      section {
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}