img {
  width: 100%;
}

html,
body {
  background: var(--primary-background-color);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  color: white ;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-component-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}
