.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.not-connected {
  background-color: rgb(255, 0, 0);
}

.connected {
  background-color: rgb(0, 255, 13);
}

.connect-btn {
  text-transform: none !important;
  padding: 5px 10px !important;
}
