.whole-container {
}
.title {
  h1 {
    color: white;
    font-size: 24px !important;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 200),
      0 0 5px rgb(88, 0, 84);
    margin-bottom: 20px !important;
  }
}

.multi-txt {
  margin-bottom: 10px !important;
}

.delete-btn {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.viewport {
  max-width: 200px;
  height: auto;
}

.file-upload-part {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border: 1px dashed #5c5c5c;
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pan-btn {
  padding: 20px 0;
  flex-direction: column;
  flex: 1 1;
  margin: 5px;
}

.create-item-part {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.property {
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: 10px;
  }
}

.price-part {
  p {
    color: #999 !important;
  }
}

.preview-part {
  width: 300px;
  height: 400px;
  border: 1px solid #666;
  border-radius: 10px;
  color: #999;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px !important;
  display: block;
  margin: 7px 0;
}

.grey-txt {
  color: #777 !important;
  margin: 10px 0;
}

.unlock {
  color: rgb(152, 152, 255) !important;
}

.hide-btn-part {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  button {
    flex: 1 1;
  }
}
.put-market-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    font-size: 17px;
    font-weight: 700;
    color: #155dff !important;
  }
}

.date-time-pick {
  margin: 10px 10px;
  label {
    color: #bbb;
  }
  button {
    color: #ccc !important;
  }
  span {
    color: black !important;
  }
  fieldset {
    border-color: #aaa;
  }
}
//==================for animation==============================//
