@import "../../styles/mixin/media";
// @import url('src/styles/mixin/media');

.homepage :global {
  padding: 0 20px;

  .button-bar {
    display: flex;
    .spinBox {
      margin: 10px 10px;
    }
    .category-btn {
      margin: 10px 10px;
      img {
        margin-right: 10px;
      }
    }
  }
  [class^="section"] {
    h3 {
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
    }
  }

  .carousel-custom-dot-list {
    li {
      button {
        width: 16px;
        height: 16px;
        border: 1px solid var(--primary-component-background-color);
        background: #00000000;
      }
    }

    li.react-multi-carousel-dot--active {
      button {
        background: linear-gradient(
          133.63deg,
          var(--primary-start-color) 2.28%,
          var(--primary-end-color) 100%
        );
      }
    }
  }

  .section-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0;

    .welcome-content {
      max-width: 300px;

      h1 {
        font-weight: 400;
        font-size: 56px;
        line-height: 66px;

        strong {
          color: var(--secondary-text-color);
        }
      }

      .btn-group {
        display: flex;
        margin-top: 30px;

        .btn-connect {
          margin-left: 15px;
        }
      }
    }
  }

  .section-marketplace-status {
    background: var(--primary-start-color);

    padding: 25px 0;

    p {
      white-space: nowrap;

      margin: 0;
    }
  }

  .section-notable-drop {
    padding: 70px 0 80px 0;

    .carousel-item {
      padding: 50px 10px 70px 10px;

      box-sizing: border-box;
      height: 720px;
    }
  }

  .section-live-auction {
    padding: 80px 0;

    background: var(--secondary-background-color);

    .auction-list {
      margin-top: 40px;

      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      column-gap: 20px;
    }
  }

  .section-trending-collection {
    padding: 80px 0;

    .trending-collection-list {
      margin-top: 40px;

      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: 21px;
      row-gap: 21px;
    }

    .react-multi-carousel-list {
      display: none;
    }
  }

  .section-help {
    padding: 70px 0;

    background: var(--secondary-background-color);

    h2 {
      font-weight: 400;
      font-size: 56px;
      line-height: 66px;

      strong {
        color: var(--secondary-text-color);
      }

      max-width: 500px;
    }

    .help-content {
      margin-top: 30px;

      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      column-gap: 60px;

      .supported-wallets {
        margin-top: 10px;
        display: flex;

        img {
          width: 35px;
          height: 35px;

          margin-left: 15px;

          &:first-of-type {
            margin-left: 0;
          }
        }
      }

      h6 {
        margin-top: 30px !important;

        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
      }

      .left-panel {
        p {
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;

          color: var(--support-text-color) !important;
        }
      }

      .right-panel {
        display: flex;
        flex-direction: column;

        .help-step {
          display: flex;
          align-items: flex-start;

          img {
            width: 50px;
          }

          div {
            margin-left: 20px;

            font-weight: 700;
            font-size: 16px;
            line-height: 24px;

            p {
              color: var(--support-text-color) !important;
            }
          }
        }

        .react-multi-carousel-list,
        h6,
        .supported-wallets,
        .btn {
          display: none;
        }
      }
    }
  }

  @include media-md {
    .small-banner-collection {
      display: flex;
    }

    .section-welcome {
      padding: 78px 0 40px 0;

      box-sizing: content-box;

      position: relative;

      height: 515px;

      .welcome-content {
        position: relative;
        z-index: 1;

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-weight: 400;
          font-size: 36px;
          line-height: 46px;
          text-align: center;
        }
      }

      .welcome-image {
        position: absolute;
        bottom: 0px;
        height: 100%;

        img {
          // width: 100%;
          // height: 100%;
          object-fit: cover;
        }
      }
    }

    .section-live-auction {
      .auction-list {
        grid-template-columns: repeat(5, minmax(220px, 1fr));

        overflow-x: scroll;

        padding-bottom: 30px;
      }
    }

    .section-trending-collection {
      .react-multi-carousel-list {
        display: flex;

        .carousel-item {
          padding: 30px 10px 50px 10px;
        }
      }

      .trending-collection-list {
        display: none;
      }
    }

    .section-help {
      h2 {
        font-weight: 400;
        font-size: 36px;
        line-height: 46px;

        max-width: 300px;
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .help-content {
        grid-template-columns: repeat(1, minmax(0, 1fr));

        .left-panel {
          p {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;

            text-align: center;
          }

          .supported-wallets,
          h6,
          button {
            display: none;
          }
        }

        .right-panel {
          .desktop-help {
            display: none;
          }

          .help-step {
            flex-direction: column;
            align-items: center;

            text-align: center;

            span {
              display: block;
              margin-top: 15px;
            }

            p {
              margin-top: 5px;
            }

            div {
              margin-left: 0;
            }
          }

          .react-multi-carousel-list,
          .supported-wallets {
            display: flex;
          }

          h6,
          .btn {
            display: block;
          }

          .btn-connect {
            margin-top: 40px;
          }

          h6 {
            text-align: center;
          }

          .supported-wallets {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}
