.spinner-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #222222;
  z-index: 9999;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
