.home-banner {
  margin-top: 100px;
  padding: 30px 0px 60px 0px;
  overflow: hidden;
  background: url(../../../images/bannerbg.svg) no-repeat center / cover;
  background-attachment: fixed;
}

.small-banner-collection {
  display: flex;
  justify-content: space-between;
  img {
    width: 50%;
    height: 50%;
    padding: 20px;
    padding-top: 0;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
  }
}

.welcome-image {
  bottom: 0px;
  height: 40%;
  > .top-collection {
    position: relative;
    .view-collection-btn {
      position: absolute;
      bottom: 100px;
      left: 50px;
    }
    > img {
      width: 100%;
      height: 300px;
      margin-bottom: 20px;
      object-fit: cover;
    }
  }
}

.collection-1 {
  margin: 20px 0;
  > img {
    margin-bottom: 20px;
  }
}
