.profile-image {
  text-align: center;
  border-radius: 50% !important;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.profile-info-bar {
  text-align: center;
  position: relative;
  margin-top: 15%;
  .profile-background {
    width: 100%;
    top: -75%;
    position: absolute;
    height: 300px;
    background-image: url(http://localhost:3000/images/profile-images/back.jpg);
    background-size: cover;
  }
}

.profile-connect-btn {
  background-color: #33333388 !important;
  border-radius: 20px !important;
}

.token-image {
  background: #44444488;
  border-radius: 50%;
  margin-right: 5px;

  img {
    width: 30px;
    height: 30px;
  }
}

.wallet-address {
  margin-top: 10px;
  text-align: center;
}

.following-bar {
  text-align: center;
  margin-top: 10px;
  label {
    span.count {
      padding: 3px;
      color: white;
    }
    span.static-string {
      color: #888 !important;
    }
  }
}

.edit-profile {
  text-align: center;
  margin-top: 10px;
  .edit-btn {
    border-radius: 20px;
    color: #999 !important;
    border: 1px solid #555;
    text-transform: none;
    margin: 5px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
}

.content {
  margin: 30px auto;
  max-width: 300px;
  text-align: center;
  h4 {
    margin: 5px !important;
  }
  p {
    color: #888 !important;
  }
}

.button-bar {
  display: flex;
  justify-content: space-between;
}

.filter-bowl {
  display: flex;
}

.filter-btn-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-container {
  flex: 1 1;
}

.act-content {
  flex: 3 1;
}

.tab-item {
  color: white;
}

.bio-text {
  text-align: center;
  margin-top: 10px;
  p {
    color: #999 !important;
  }
}

.personal {
  text-align: center;
}
