.profile-image {
  text-align: center;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.profile-connect-btn {
  background-color: #33333388 !important;
  border-radius: 10px !important;
}
