.control-part {
  color: white;
  display: flex;
  justify-content: end;
  background-color: #2c2c2c52;
}
.detail-info {
  display: flex;
  justify-content: start;
  margin-top: 18px;
  > div {
    padding-right: 2rem;
  }
  span {
    font-size: 11px;
    display: block;
    color: #aaa !important;
    font-weight: 700;
  }
  label {
    font-size: 11px;
    color: #aaa !important;
    font-weight: 700;
  }
  h4 {
    font-size: 11px;
    color: #aaa !important;
    font-weight: 700;
  }
}

.avatar {
  justify-content: start !important;
  img {
    width: 23px;
    object-fit: scale-down;
  }
}
.created,
.owned {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-count {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 5px;
  .price-part {
    display: flex;
    align-items: flex-end;
  }
  h4 {
    color: #aaa !important;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 7px !important;
  }
  .edition-part {
    text-align: end;
    span {
      display: block;
      font-size: 11px;
      color: #aaa !important;
      font-weight: 700;
    }
  }
}

.equal-price {
  color: #aaa !important;
  font-size: 14px;
  line-height: 1;
}
.main-unit {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
.diamond {
  display: flex;
  align-items: center;
  color: white;
  padding-top: 7px;
}

.left-side {
  flex: 1 1;
}
.side-part {
  margin: 0 10px;
  flex: 1 1;
  h2 {
    font-size: 30px;
    margin: 10px 0 !important;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
}

.desc-part {
  padding-left: 10px;

  h3 {
    color: #aaa !important;
    font-weight: 700;
    margin: 15px 0 !important;
  }

  p {
    color: #aaa !important;
  }
}

.asset-view {
  img {
  }
}
.asset-btn {
  margin: 5px !important;
}
.button-part {
  display: flex;
  align-items: center;
  button:first-child {
    min-width: 100px;
    flex: 1 1;
  }
  button:last-child {
    min-width: 300px;
    flex: 3 1;
  }
}
