.view-container {
  margin-top: 100px !important;
  margin-bottom: 20px;
}

.create-button-part {
  text-align: center;
  padding: 15px 0;
}

.image-section {
  position: relative;
  img {
    height: 300px;
    object-fit: cover;
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
  }

  .image-info-part {
    position: absolute;
    left: 30px;
    bottom: 45%;
    h2 {
      text-shadow: 2px 2px 4px #000000;
      margin-bottom: 14px !important;
      font-size: 28px;
    }
    label {
      text-shadow: 2px 2px 4px #000000;
      display: block;
      font-size: 19px;
      &:first-of-type {
        font-size: 11px;
      }
    }
  }
}

.info-section {
  display: flex;
  margin-top: 15px;

  .description {
    width: 35%;
    color: white;
    font-size: 17px;
    margin-right: 15px;
  }
  .info-tab {
    flex: 1 1;
    > div {
      width: 100%;
    }
  }
}
.image-part {
  position: relative;
  margin-bottom: 10px;
}
.creator-detail {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  position: absolute;
  top: 10px;
  img {
    width: 20px;
    object-fit: scale-down;
  }
}

.content-copy {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  label {
    font-size: 14px;
    color: white;
  }
}

.watch-video {
  position: absolute;
  bottom: 10px;
  background-color: #00000069;
  color: white;
  padding-left: 10px;
  font-size: 14px;
  button {
    font-size: 14px !important;
    color: white;
  }
}
